$main-bg-color: #ffffff;          /*white*/
$secondary-bg-color: #f1f1f1;     /*gray*/
$main-text-color: #000000;        /*black*/
$secondary-text-color: #444444;   /*dark-gray*/
$placeholder-text-color: #d2d2d2; /*light-gray*/
$main-color: #63d1bb;             /*turquoise*/
$secondary-color: #56c3b2;        /*dark-turquoise*/
$border-color: #ececec;           /*light-gray*/
$toggle-color: #221f1f;           /*lignt-black*/
$font-open-sans: "Open Sans", "Arial", sans-serif;
$font-open-sans-bold: "Open Sans Bold", "Arial", sans-serif;
$mobile-widths-only: "max-width: 767px";
$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1150px";
