/*--MOBILE--*/

.about-us {
  margin: 35px 30px;
  font-family: $font-open-sans-bold;
  color: $main-text-color;
}

.about-us__title {
  margin: 0;
  font-size: 25px;
  line-height: 25px;
}

.about-us__list {
  padding: 0;
  list-style: none;
}

.about-us__item {
  padding-top: 71px;
  padding-bottom: 14px;
  font-size: 17px;
  line-height: 19px;

  &--clean {
    background: url("../../img/icon-feature-1.svg") no-repeat 0% 20%;
  }

  &--style {
    background: url("../../img/icon-feature-3.svg") no-repeat 0% 19%;
  }

  &--like {
    background: url("../../img/icon-feature-5.svg") no-repeat 0% 22%;
  }

  &--love {
    background: url("../../img/icon-feature-2.svg") no-repeat 0% 22%;
  }

  &--support {
    background: url("../../img/icon-feature-4.svg") no-repeat 0% 20%;
  }

  &--gift {
    background: url("../../img/icon-feature-6.svg") no-repeat 0% 20%;
  }
}
