/*--MOBILE--*/

.about-us {
  @include container();
  margin-top: 35px;
  font-family: $font-open-sans-bold;
  color: $main-text-color;
}

.about-us__title {
  margin: 0;
  font-size: 25px;
  line-height: 25px;
}

.about-us__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.about-us__item {
  padding-top: 71px;
  padding-bottom: 14px;
  font-size: 17px;
  line-height: 19px;

  &--clean {
    background: url("../../img/icon-feature-1.svg") no-repeat 0% 20%;
  }

  &--style {
    background: url("../../img/icon-feature-3.svg") no-repeat 0% 19%;
  }

  &--likes {
    background: url("../../img/icon-feature-5.svg") no-repeat 0% 22%;
  }

  &--love {
    background: url("../../img/icon-feature-2.svg") no-repeat 0% 22%;
  }

  &--support {
    background: url("../../img/icon-feature-4.svg") no-repeat 0% 20%;
  }

  &--gift {
    background: url("../../img/icon-feature-6.svg") no-repeat 0% 20%;
  }
}

/*--TABLET--*/

@media ($tablet-widths) {
  .about-us {
    margin: 50px auto;
  }

  .about-us__title {
    width: 668px;
    font-size: 43px;
    line-height: 43px;
  }

  .about-us__list {
    flex-wrap: wrap;
    height: 476px;
  }

  .about-us__item {
    width: 300px;
    margin-top: 17px;
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 22px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .about-us {
    @include container();
    box-sizing: border-box;
    margin-top: 85px;
    padding-left: 175px;
    padding-right: 160px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 53px;
    margin-left: -3px;
  }

  .about-us__item {
    margin-right: auto;
  }
}
