/*--MOBILE--*/

.catalog-item {
  width: 260px;
  min-height: 372px;
  margin-bottom: 30px;
  border: 1px solid $border-color;

  &:hover {
    box-shadow: 0 6px 10px $border-color;
  }

  &:active {
    box-shadow: 0 3px 5px $border-color;
  }
}

.catalog-item__image {
  display: block;
  width: 260px;
  height: auto;
}

.catalog-item__image img {
  display: block;
  height: auto;
  width: 100%;
}

.catalog-item__wrapper {
  padding: 10px 28px 0;
}

.catalog-item__title  a {
  margin: 0;
  display: block;
  margin-bottom: 0px;
  font-family: $font-open-sans-bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: $main-text-color;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-item__info {
  margin-bottom: 25px;
  padding: 0;
  font-size: 13px;
  line-height: 15px;
}

.catalog-item__inner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 22px;
  padding-bottom: 15px;
  border-top: 1px solid $border-color;
}

.catalog-item__inner:last-child {
  margin-bottom: 12px;
}

.catalog-item__price {
  font-family: $font-open-sans-bold;
  font-size: 15px;
  color: $main-text-color;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-item__cart {
  display: block;
  width: 21px;
  height: 19px;
  background: url(/img/icon-cart.svg) no-repeat;
}

/*--TABLET--*/

@media ($tablet-widths) {
  .catalog-item {
    display: flex;
    flex-direction: row;
    width: 668px;
    min-height: 334px;
    margin-bottom: 55px;
    box-sizing: border-box;
  }

  .catalog-item__wrapper {
    display: flex;
    flex-direction: column;
    width: 334px;
    align-items: stretch;
    min-height: 180px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    border: none;
  }

  .catalog-item__image  img {
    flex-basis: 334px;
    height: 334px;
  }

  .catalog-item__title a{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 20px;
  }

  .catalog-item__info {
    margin-top: 0;
    font-size: 15px;
  }

  .catalog-item__inner {
    margin-top: auto;
  }

  .catalog-item__price {
    font-size: 17px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .catalog-item {
    flex-direction: column;
    width: 315px;
    height: 660px;
    margin-right: 50px;
  }

  .catalog-item:nth-child(n+3) {
    margin-right: 0;
  }

  .catalog-item__image img {
    height: 462px;
    width: 315px;
  }

  .catalog-item__info {
    margin-bottom: auto;
  }

  .catalog-item__inner {
    padding-bottom: 0;
  }

  .catalog-item__wrapper {
    width: 100%;
  }
}
