/*--MOBILE--*/

.category {
  margin: 0;
  padding: 0;
  max-width: 400px;
}

.category__item {
  position: relative;
  list-style: none;
  min-height: 102px;
  width: 320px;
  margin: 0 auto;
}

.category__item--interior {
    background: $main-color;

      &::after {
        content: "";
        position: absolute;
        width: 41px;
        height: 62px;
        top: 23px;
        right: 36px;
        background: url("../img/icon-interior.svg") no-repeat center;
        opacity: 0.3;
        cursor: pointer;
      }

    &:hover {
      padding-bottom: 5px;
    }

    &:active {
      padding-bottom: 0px;
    }
}

.category__item--toys {
    background: $secondary-color;

    &::after {
      content: "";
      position: absolute;
      width: 61px;
      height: 61px;
      top: 18px;
      right: 27px;
      background: url("../img/icon-toy.svg") no-repeat center;
      opacity: 0.3;
      cursor: pointer;
    }

    &:hover {
      background-color: #46c1ae;
    }

    &:hover {
      padding-top: 5px;
    }

    &:active {
      padding-top: 0px;
    }
}

.category__link {
  display: flex;
  align-items: center;
  height: 102px;
  margin: 0;
  padding-left: 30px;
  padding-right: 200px;

  font-size: 19px;
  line-height: 25px;
  text-decoration: none;
  color: $main-bg-color;

  &:active {
      color: rgba(255, 255, 255, 0.4);
    }
}

/*--TABLET--*/

@media ($tablet-widths) {
  .category {
    display: flex;
    margin: -108px 50px 0;
  }

  .category__item {
    flex-basis: 334px;
    height: 108px;
  }

  .category__link {
    height: 108px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .category {
    margin: -108px 100px 0;
  }

  .category__item {
    min-width: 525px;
  }

  .category__link {
    padding-right: 320px;
  }
}
