/*--MOBILE--*/

.category {
  margin: 0 auto;
  padding: 0;
}

.category__item {
  display: block;
  position: relative;
  width: 320px;
  min-height: 102px;
  margin: 0 auto;
  list-style: none;
}

.category__item--interior {
  background: $main-color;

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      right: 36px;
      width: 41px;
      height: 62px;
      background: url("../img/icon-interior.svg") no-repeat center;
      opacity: 0.3;
      cursor: pointer;
    }

    &:hover {
      background-color: #59d5bc;
    }

    &:active {
      color: #8be1d0;
    }
}

.category__item--toys {
  background: $secondary-color;

    &::after {
      content: "";
      position: absolute;
      width: 61px;
      height: 61px;
      top: 18px;
      right: 27px;
      background: url("../img/icon-toy.svg") no-repeat center;
      opacity: 0.3;
      cursor: pointer;
    }

    &:hover {
      background-color: #46c1ae;
    }

    &:active {
      color: #37b2a0;
    }
}

.category__link {
  display: flex;
  align-items: center;
  height: 102px;
  margin: 0;
  padding-left: 30px;
  padding-right: 200px;
  font-size: 19px;
  line-height: 25px;
  text-decoration: none;
  color: $main-bg-color;

  &:active {
      color: #8be1d0;
    }
}

/*--TABLET--*/

@media ($tablet-widths) {
  .category {
    @include container();
    display: flex;
    margin: -108px auto 0;
  }

  .category__item {
    flex-basis: 334px;
    height: 108px;

    &:hover {
      transform: translateY(-5px);
      padding-bottom: 5px;
      margin-bottom: -5px;
    }

    &:active {
      transform: translateY(0);
      padding-bottom: 0px;
      margin-bottom: 0;
      color: #8be1d0;
    }
  }

  .category__link {
    height: 108px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .category {
    margin: -108px auto 0;
  }

  .category__item {
    min-width: 525px;
  }

  .category__link {
    padding-right: 320px;
    font-size: 20px;
    line-height: 30px;
  }
}
