/*--MOBILE--*/

.contacts {
  display: flex;
  flex-direction: column;
  font-family: $font-open-sans;
  font-size: 15px;
  color: $secondary-text-color;
}

.contacts__wrapper {
  margin: 50px auto 0;
  width: 260px;
}

.contacts__title {
  margin-bottom: 32px;
  font-family: $font-open-sans-bold;
  font-size: 18px;
  color: $main-text-color;

  &::before {
    display: none;
  }
}

.contacts__list {
  padding: 0;
  margin-bottom: 36px;
  list-style: none;
}

.contacts__item {
  display: flex;
  margin-bottom: 32px;
}

.contacts__type {
  margin-right: 30px;
  padding-top: 5px;
}

.contacts__address {
  font-size: 15px;
  line-height: 29px;
  text-decoration: none;
  color: $secondary-text-color;
  width: 170px;
}

.contacts__address--mail {
  border-bottom: 1px solid $main-color;

  &:hover {
    color: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__address--city {
  width: 141px;
}

.contacts__map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 457px;
}

.contacts__write {
  margin-top: 38px;
  margin-bottom: 38px;
  text-align: center;
  vertical-align: middle;
}

/*--TABLET--*/

@media ($tablet-widths) {
  .contacts {
    justify-content: space-around;
    font-size: 17px;
  }

  .contacts__wrapper {
    width: 668px;
    margin: 84px auto 0;
  }

  .contacts__title {
    font-size: 43px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 47px;
      height: 81px;
      background: url("../img/icon-flag.svg") no-repeat center;
    }
  }

  .contacts__list {
    display: flex;
    margin-top: 45px;
    margin-bottom: 27px;
  }

  .contacts__item {
    width: 310px;
  }

  .contacts__type {
    margin-right: 25px;
    font-size: 17px;
    line-height: 20px;

  }

  .contacts__address {
    font-size: 17px;
  }

  .contacts__address--mail {
    width: 192px;
    height: 29px;
  }

  .contacts__address--city {
    width: 225px;
  }

  .contacts__map {
    height: 455px;
  }

  .contacts__map img {
    display: block;
    width: 100%;
    height: 455px;
  }

  .contacts__write {
    margin-top: 55px;
    margin-bottom: 55px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0;
    position: relative;
    margin: 45px 50px 50px 120px;
  }

  .contacts__wrapper {
    margin-bottom: 0;
  }

  .contacts__title {
    font-size: 53px;
    margin-top: 30px;
    margin-bottom: 42px;

    &::before {
      top: 0;
      left: -110px;
    }
  }

  .contacts__list {
    flex-direction: column;
    margin-right: auto;
    width: 280px;
  }

  .contacts__address--mail {
    width: 205px;
  }

  .contacts__address--city {
    width: 225px;
  }

  .contacts__map {
    //@include clearfix();
    position: absolute;
    width: 525px;
    height: 457px;
    top: 26px;
    right: -25px;
  }

  .contacts__write {
    align-self: flex-end;
    margin-left: 155px;
    margin-top: 15px;
  }
}
