/*--MOBILE--*/

.modal {
  display: none;
  width: 320px;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 15;
  text-align: center;
  background: $main-bg-color;
  border: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px #c7c7c7;
  transform: translate(-50%, -50%);

  &--show {
    display: block;
  }
}

.modal__wrapper {
  //.container();
  padding-top: 30px;
  width: 260px;
  margin: 0 auto;
}

.modal__title {
  font-family: $font-open-sans-bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  padding-left: 50px;
  padding-right: 50px;
}

.modal__order {
  margin-bottom: 46px;
}

.modal__select {
  display: block;
  margin-top: 20px;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-family: $font-open-sans;
  font-size: 15px;
  line-height: 30px;
  color: $secondary-text-color;
}

.modal__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}


.modal__label {
  display: block;
  width: 82px;
  font-family: $font-open-sans-bold;
  font-size: 17px;
  line-height: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid $border-color;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    border: 2px solid #c7c7c7;
  }
}

.modal__inner input[type="radio"] {
  display: none;
}

.modal__inner input[type="radio"]:checked + .modal__label {
  border-color: $main-color;
}

.modal__add {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $main-bg-color;
  background-color: $main-color;
  text-transform: uppercase;
  border: none;

  &:hover {
    background-color: #59d5bc;
  }

  &:active {
    color: $main-color;
  }
}

  /*--TABLET--*/

@media ($tablet-widths) {
  .modal {
    width: 564px;
  }

  .modal__wrapper {
    width: 355px;
    padding-top: 35px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 57px;
    padding: 0;
    margin-bottom: 13px;
  }

  .modal__select {
    margin-bottom: 21px;
    font-size: 17px;
  }

  .modal__inner {
    margin-bottom: 31px;
  }

  .modal__label {
    width: 114px;
  }
}
