/*--MOBILE--*/

.product {
  font-family: $font-open-sans;
  color: $secondary-text-color;
  width: 260px;
  margin: 0 auto;
}

.product__title {
  padding: 8px 0;
  margin-bottom: 0px;
  font-family: $font-open-sans-bold;
  font-size: 25px;
  line-height: 25px;
  color: $main-text-color;
}

.product__subtitle {
  font-family: $font-open-sans-bold;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  color: $main-color;
}

.product__description {
  width: 260px;
  box-sizing: border-box;
  padding-right: 5px;
  margin-top: 25px;
  font-size: 15px;
  line-height: 24px;
}

.product__features {
  margin-top: 18px;
  margin-bottom: 27px;
  font-size: 15px;
  line-height: 15px;
  min-height: 120px;
  min-width: 260px;
}

.product__attribute {
  padding: 11px 20px 12px 0;
  border-bottom: 1px solid $border-color;
}

.product__value {
  padding: 11px 0px 12px 0;
  border-bottom: 1px solid $border-color;
}

.product__image {
  //@include container;
  //margin: 29px auto;
}

.product__image img {
  display: block;
  width: 260px;
  height: 315px;
}

.product__price {
  font-family: $font-open-sans-bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  min-height: 30px;
  padding: 11px;
  box-sizing: border-box;
}

.product__order {
  text-align: center;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 260px;
  margin-bottom: 73px;
}

/*--TABLET--*/

@media ($tablet-widths) {
  .product {
    margin: 15px 50px;
    position: relative;

    display: flex;
    flex-direction: column;
    width: 290px;
  }

  .product__wrapper {
    //@include container;
    }

  .product__inner {
    //@include container-fluid;
    display: flex;
    width: 665px;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  .product__title {
    font-size: 43px;
    line-height: 43px;
  }

  .product__subtitle {
    width: 75px;
    text-align: center;
    align-self: flex-end;
    padding: 8px 25px;
  }

  .product__description {
    min-width: 286px;
    font-size: 17px;
    line-height: 30px;
  }

  .product__features {
    width: 290px;
  }

  .product__attribute {
    padding-right: 0px;
  }

  .product__image {
    position: absolute;
    top: 148px;
    left: 336px;
    background-size: cove;
  }

  .product__image img {
    display: block;
    height: 405px;
    width: 334px;
  }

  .product__price {
    //@include center;
    font-size: 20px;
    line-height: 20px;
  }

  .product__order {
    margin-top: 5px;
    width: 290px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .product {
  margin-left: 275px;
}

  .product__title {
    min-width: 600px;
    margin-top: 115px;
    font-size: 53px;
    line-height: 53px;
    order: 1;
    margin-left: 75px;
    width: 525px;
  }

  .product__subtitle {
    margin-bottom: 7px;
  }

  .product__inner {
    justify-content: flex-start;
    margin-left: -200px;
  }

  .product__image {
    top: 67px;
    left: 350px;
    z-index: -1;
  }

  .product__image img {
    height: 637px;
    width: 525px;
  }

  .product__description {
    margin-top: 21px;
  }

  .product__features {
    margin-top: 32px;
    margin-bottom: 79px;
  }
}
