/*--MOBILE--*/

.production {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;
  box-sizing: border-box;
  font-family: $font-open-sans;
  color: $secondary-text-color;

  &:hover {
    box-shadow: 0 6px 10px $border-color;
  }

  &:active {
    box-shadow: 0 3px 5px $border-color;
  }
}

.production__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 33px 20px;
    border: 1px solid $border-color;
    border-bottom: none;
}

.production__title {
  width: 135px;
  height: 35px;
  font-family: $font-open-sans-bold;
  font-size: 17px;
  line-height: 24px;
  color: $main-text-color;
}

.production__icon {
  width: 32px;
  height: 32px;
  background: url(/img/icon-video.svg) no-repeat 0 0;
}

.production__video {
  position: relative;
  width: 260px;
  height: 150px;
  margin: 0 auto;
  background: #f9f9f9 url("../img/video-mobile@1x.jpg") no-repeat 0 0;

  @media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    background: url("../img/video-mobile@2x.jpg") no-repeat 0 0;
    background-size: 260px auto;
  }
}

.production__play {
  content: "";
  position: absolute;
  top: 23%;
  left: 30%;
  width: 101px;
  height: 77px;
  background: url(/img/icon-play.svg) no-repeat 50% 50%;
  outline: none;
  border: none;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

.production__inner {
  padding-bottom: 30px;
  border: 1px solid $border-color;
  border-top: none;
}

.production__info {
  width: 190px;
  padding: 0;
  padding-top: 27px;
  margin: 0;
  margin-bottom: 25px;
  margin-left: 35px;
  font-size: 13px;
  line-height: 24px;
}

.production__order {
  display: block;
  width: 188px;
  margin: 0 auto;
  text-align: center;
}

/*--TABLET--*/

@media($tablet-widths) {
  .production {
    @include container();
    display: flex;
    flex-direction: column;
    margin-bottom: 62px;
    background-color: white;
  }

  .production__video {
    order: -1;
    width: 100%;
    min-height: 456px;
    background: #f9f9f9 url("../img/video-tablet@1x.jpg") no-repeat 50% 0;

    @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: url("../img/video-tablet@2x.jpg") no-repeat 50% 0;
      background-size: 668px auto;
    }
  }

  .production__play {
    top: 41%;
    left: 40%;
  }

  .production__wrapper {
    justify-content: flex-start;
    width: 668px;
    padding: 19px 33px 12px;
    box-sizing: border-box;
    border: 1px solid $border-color;
    border-bottom: none;
  }

  .production__title {
    width: 350px;
    height: auto;
    font-size: 20px;
  }

  .production__icon {
    margin-left: 15px;
    margin-right: 30px;
    padding-bottom: 5px;
  }

  .production__inner {
    width: 668px;
    box-sizing: border-box;
    border: 1px solid $border-color;
    border-top: none;
  }

  .production__info {
    width: 584px;
    margin: 0 42px 36px;
    padding-top: 0px;
    font-size: 15px;
    line-height: 29px;
  }

  .production__order {
    width: 580px;
    margin-bottom: 16px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .production {
    position: relative;
    width: 1050px;
    height: 456px;
    margin: 0 auto;
    margin-bottom: 105px;
    padding-left: 682px;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    height: 456px;
    background: #f9f9f9 url("../img/video-desktop@1x.jpg") no-repeat 50% 0;

    @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: url("../img/video-desktop@2x.jpg") no-repeat center 0;
      background-size: 682px auto;
    }
  }

  .production__wrapper {
    width: 368px;
    height: 456px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0px;
    padding-left: 80px;
    padding-top: 35px;
    padding-bottom: 0;
    box-sizing: border-box;
    border: 1px solid $border-color;
    border-bottom: none;
  }

  .production__title {
    width: 150px;
    padding-bottom: 0;
  }

  .production__icon {
    margin-top: 5px;
    margin-left: 0;
    padding: 0;
  }

  .production__inner {
    margin-left: 0;
    width: 368px;
  }

  .production__info {
    width: 230px;
    margin-left: 80px;
    margin-bottom: 45px;
    font-size: 15px;
    line-height: 30px;
  }

  .production__order {
    width: 226px;
    margin-left: 80px;
    margin-bottom: 30px;
  }
}
