/*--MOBILE--*/

.reviews {
  width: 260px;
  margin: 45px auto 23px;
  font-family: $font-open-sans;
  font-size: 0;
  color: $secondary-text-color;
}

.reviews__title {
  margin-bottom: 0;
  font-family: $font-open-sans-bold;
  font-size: 25px;
  line-height: 25px;
  color: $main-text-color;
}

.reviews__item {
  display: block;
  margin: 0;
}

.reviews__text {
  width: 258px;
  margin: 0;
  padding: 27px 0 25px;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  font-family: $font-open-sans-bold;
  font-size: 18px;
  color: $main-text-color;
}

.reviews__nick {
  font-size: 18px;
}

.reviews__prev,
.reviews__next {
  display: inline-block;
  margin: 33px 0 37px;
  width: 50%;
  min-height: 52px;
  outline: 1px solid $border-color;
  border: none;
  text-align: center;
  vertical-align: baseline;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__prev {
    background: transparent url("/img/icon-left-arrow.svg") no-repeat 50% 50%;
}

.reviews__next {
    background: transparent url("/img/icon-right-arrow.svg") no-repeat 50% 50%;
}

.reviews__write {
  width: 260px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

/*--TABLET--*/

@media ($tablet-widths) {
  .reviews {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 768px;
    margin: 0 auto;
    background: url(/img/review@1x.jpg) no-repeat 0% 0%;
  }

  .reviews__title {
    margin-top: 78px;
    margin-left: 50px;
    font-size: 43px;
    line-height: 43px;
  }

  .reviews__item {
    margin: 25px 50px;
    padding-bottom: 50px;
    order: 1;
  }

  .reviews__text {
    width: 650px;
    text-align: left;
    font-size: 17px;
    line-height: 31px;
  }

  .reviews__author {
    margin-top: 29px;
    font-size: 18px;
  }

  .reviews__nick {
    font-size: 17px;
  }

  .reviews__prev,
  .reviews__next {
    position: absolute;
    width: 87px;
    outline: none;
  }

  .reviews__prev {
    bottom: 35px;
    right: 137px;
  }

  .reviews__next {
    bottom: 35px;
    right: 49px;
  }

  .reviews__write {
    width: 174px;
    margin-right: 50px;
    margin-bottom: -8px;
  }
}

/*--DESKTOP--*/

@media ($desktop-widths) {
  .reviews {
    @include container();
    margin-bottom: 132px;
  }

  .reviews__title {
    margin-left: 170px;
    margin-top: 73px;
    font-size: 53px;
    line-height: 53px;
  }

  .reviews__item {
    margin-top: 23px;
    margin-left: 175px;
  }

  .reviews__text {
    width: 770px;
    padding-bottom: 7px;
  }

  .reviews__prev {
    right: 87px;
  }

  .reviews__next {
    right: 0px;
  }

  .reviews__write {
    margin-right: 0;
  }
}
